<%- include('../shared/includes/head' , {title:"Home- MoneyHub"})%>
<link rel="stylesheet" href="/styles/home-page.css">
  </head>
  <body>
   <%- include("../shared/includes/header")%>
   <main>
       <h1>Welcome</h1>
       <h2>Account Number: <%=accountDetails.accountNumber%></h2>
       <h2>Balance: <%=accountDetails.balance%></h2>
        
    </main>
<%- include("../shared/includes/footer")%>
