<%- include('../shared/includes/head' , {title:"Home- MoneyHub"})%>
<link rel="stylesheet" href="/styles/home-page.css">
  </head>
  <body>
   <%- include("../shared/includes/header")%>
   <main>
       <h1>Welcome</h1>
       <h2>Account Number: <%=accountDetails.accountNumber%></h2>
       <h2>Balance: <%=accountDetails.balance%></h2>
       <ul id="home-page-menu">
        <li><a href="/deposit"><img src="/deposit.png" alt="Make Payments"><br>Deposit Money</a></li>
        <li><a href="/pay"><img src="/credit-card.png" alt="Make Payments"><br>Make Payments</a></li>
        <li><a href="/statement"><img src="/file.png" alt="Financil Statement "><br>Financial Statement</a></li>
        <li><a href="/transactions"><img src="/evaluation.png" alt="Transaction History"><br>Transaction History</a></li>
        <li><a href=""><img src="/fund.png" alt="Funds Transfer"><br>Funds Transfer</a></li>
        <li><a href=""><img src="/bill.png" alt="Bill Payments"><br>Bill Payments</a></li>
        <li><a href=""><img src="/verified.png" alt="Security"><br>Security</a></li>
        <li><a href=""><img src="/setting.png" alt="Settings"><br>Settings</a></li>
       </ul>
    </main>
<%- include("../shared/includes/footer")%>
