
<%- include('../shared/includes/head' , {title:"Make Payments- Moneyy"})%>
<link rel="stylesheet" href="/styles/auth.css">
</head>
<body>
<%- include("../shared/includes/header")%>
<main>
    <h1>Add Amount</h1>
    <form method="POST" action="/pay">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <% if(error){ %>
            <p class="error"><%= error %></p>
        <%}%>
        <label for="deposit-money">
            <input type="number" alt="amount"  name="amount">
        </label>
        <label for="recieverAccountNumber">
            Reciever Account Number<input type="text" alt="account number" name="recieverAccountNumber">
        </label>
        <input type="hidden" name="userId" value="<%=userData._id%>">
        <input type="hidden" name="accountId" value="<%=accountDetails._id%>">
        <button>Add Money</button>
    </form>
</main>
<%- include("../shared/includes/footer")%>
