
<%- include('../shared/includes/head' , {title:"Home- MoneyHub"})%>
<link rel="stylesheet" href="styles/transaction-history.css">
</head>
<body>
<%- include("../shared/includes/header")%>
<main>
    <h1 id="transaction-heading">Transactions History</h1>
    <ul>
        <% for (let transaction of transactions) { %>
            <li class="transaction-item">
                <h3><%= transaction.transactionType %></h3>
                <p>Amount: <%= transaction.amount %></p>
                <p>Transaction Date: <%= transaction.date %></p>
                <p>Receiver Account Number: <%= transaction.receiverAccountNumber %></p>
                <a href="/transactions/<%=transaction._id%>?userId=<%=userData._id%>&accountId=<%=accountDetails._id%>">See Details</a>
            </li>
        <% } %>
        
    </ul>
</main>
<%- include("../shared/includes/footer")%>
