<%- include('../../shared/includes/head' , {title:"Create Account - Moneyy"}) %>
<link rel="stylesheet" href="/styles/auth.css">
</head>
<body>
<%- include("../../shared/includes/header") %>
<main>
    <h1>Create New Account</h1>

    <form action="/signup" method="POST">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <% if(error){ %>
            <p class="error"><%= error %></p>
        <%}%>
        <label for="fullname">Full Name: </label>
        <input type="text" name="fullname" value="<%=fullname%>" id="fullname" required>
        <label for="birthday">Date of Birth: </label>
        <input type="date" name="birthday" value="<%birthday%>"  id="birthday" required>
        <label for="street">Street: </label>
        <input type="text" name="street" value="<%=street%>" id="street" required>
        <label for="city">City: </label>
        <input type="text" name="city" value="<%=city%>" id="city" required>
        <label for="postalCode">Postal Code: </label>
        <input type="number" name="postalCode" value="<%=postalCode%>"  id="postalCode" minlength="5" maxlength="5" required>
        <center>
            <hr>
        </center>
        <label for="email">Email: </label>
        <input type="email" name="email" value="<%=email%>" id="email" required>
        <label for="password">Set Password: </label>
        <input type="password" name="password" value="<%=password%>" id="password" minlength="8" required>
        <label for="confirmPassword">Confirm Password: </label>
        <input type="password" name="confirmPassword" value="<%=confirmPassword%>" id="confirmPassword" required>
        <button>Create New Account</button>
    </form>
    <p>Or <a href="/login">Login Instead</a></p>
</main>
<%- include("../../shared/includes/footer") %>
