<%- include('../../shared/includes/head' , {title:"Home - MoneyHub"}) %>
<link rel="stylesheet" href="/styles/auth.css">
</head>
<body>
<%- include("../../shared/includes/header") %>
<main>
    <h1>Login</h1>

    <form action="/login" method="POST">
        <% if(error){ %>
            <p class="error"><%= error %></p>
        <%}%>
        <label for="email">Email: </label>
        <input type="email" name="email" value="<%=email%>" id="email" required>
        <label for="password">Password: </label>
        <input type="password" name="password" value="<%=password%>" id="password" minlength="8" required>
        <button>Login</button>
    </form>
    <p>Or <a href="/signup">Create new account</a> instead.</p>
</main>
<%- include("../../shared/includes/footer") %>
